<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Motivational 8-ball')}"></head>

<body>

<div class="page">
    <header th:replace="~{fragments :: header('Motivational 8-ball')}">
    </header>
    <h1>Motivational Quotes</h1>
        <div class="motivation">
            <h2>Få et tilfældigt citat vist neden for </h2>
            <button class="quote-btn" type="submit" name="get-quote" formaction="/getquotes">Giv mig motivation</button>
        </div>

    <h4> Log ind og upload dit eget </h4>
    <form class="generic-form" method="post">
        <input type="text" name="username" placeholder="Enter your username"/>
        <input type="password" name="password" placeholder="Enter your password"/>
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>


    <footer th:replace="~{fragments :: footer}" class="footer-container"></footer>
</div>
</body>
</html>

