<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>unauthorized</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/parm/parm-styles.css" th:href="@{/css/parm/parm-styles.css}" rel="stylesheet"/>
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>Hovsa du kan ikke bruge appen før du er logget ind!</h1>

</div>

</body>
</html>