<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Rank Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../../css/scoopscore.css" th:href="@{/css/scoopscore.css}" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <header>
        <a href="/" th:href="@{/}">
            <img class="card-image" alt="logo" src="../../../images/lifehacklogo.png"
                 th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h3><p>All rank list goes here</p></h3>
    <br>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Rank List</th>
        </tr>
        </thead>
        <tbody>

        <tr th:unless="${allRankLists==null}"  th:each="ranklist: ${allRankLists}">
            <td th:text="${ranklist.user_id}"></td>
            <td th:text="${ranklist.title}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>