<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Rank List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../../css/scoopscore.css" th:href="@{/css/scoopscore.css}" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <header>
        <a href="/" th:href="@{/}">
            <img class="card-image" alt="logo" src="../../../images/lifehacklogo.png"
                 th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>
    <p>My rank list goes here</p>
    <p>Make your icecreams come true!</p>

    <div class="drop-zone"></div>

    <div class="tier-list">
        <div class="tier-row" id="s-tier">
            <div class="tier-label">S</div>
            <div class="tier-cells"></div>
        </div>
        <div class="tier-row" id="a-tier">
            <div class="tier-label">A</div>
            <div class="tier-cells"></div>
        </div>
        <div class="tier-row" id="b-tier">
            <div class="tier-label">B</div>
            <div class="tier-cells"></div>
        </div>
        <div class="tier-row" id="c-tier">
            <div class="tier-label">C</div>
            <div class="tier-cells"></div>
        </div>
        <div class="tier-row" id="d-tier">
            <div class="tier-label">D</div>
            <div class="tier-cells"></div>
        </div>
        <div class="tier-row" id="f-tier">
            <div class="tier-label">F</div>
            <div class="tier-cells"></div>
        </div>
    </div>

    <div class="image-row">
        <img id="icecream-chocolate" src="../../../images/scoopscore/icecream/chocolate.png" alt="Chocolate" class="tier-image" draggable="true">
        <img id="icecream-cookiedough" src="../../../images/scoopscore/icecream/cookiedough.png" alt="Cookie dough" class="tier-image" draggable="true">
        <img id="icecream-strawberry" src="../../../images/scoopscore/icecream/strawberry.png" alt="Strawberry" class="tier-image" draggable="true">
        <img id="icecream-vanilla" src="../../../images/scoopscore/icecream/vanilla.png" alt="Vanilla" class="tier-image" draggable="true">
    </div>
</div>
<!-- Update the script path to a static path for testing -->
<script src="../../../SSJavaScript/DragNDrop.js"></script>
</body>
</html>