<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projectname - Unit Conversion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="/css/UC.css" th:href="@{/css/UC.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>Unit conversion</h1>

    <p>Unit Conversion Tool</p>

    <div class="converter">
        <form id="weightForm">
            <label for="weight">Enter Value:</label>
            <input type="number" name="weight" id="weight" placeholder="Enter a number" />

            <label for="unit">Select Unit:</label>
            <select name="unit" id="unit">
                <option value="Kilogram">Kilogram</option>
                <option value="Gram">Gram</option>
                <option value="Metric ton">Metric Ton</option>
                <option value="Long ton">Long Ton</option>
                <option value="Short ton">Short Ton</option>
                <option value="Pound">Pound</option>
                <option value="Ounce">Ounce</option>
            </select>

            <button type="submit">Convert</button>
        </form>
    </div>

    <table id="table1" style="display: none">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Converted Value</th>
        </tr>
        </thead>
        <tbody id="conversionTable">
        <tr>
            <td>Kilogram</td>
            <td id="kilogramValue"></td>
        </tr>
        <tr>
            <td>Gram</td>
            <td id="gramValue"></td>
        </tr>
        <tr>
            <td>Metric Ton</td>
            <td id="metricTonValue"></td>
        </tr>
        <tr>
            <td>Long Ton</td>
            <td id="longTonValue"></td>
        </tr>
        <tr>
            <td>Short Ton</td>
            <td id="shortTonValue"></td>
        </tr>
        <tr>
            <td>Pound</td>
            <td id="poundValue"></td>
        </tr>
        <tr>
            <td>Ounce</td>
            <td id="ounceValue"></td>
        </tr>
        </tbody>
    </table>


    <table id="table2" style="display: none">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Converted Value</th>
        </tr>
        </thead>
        <tbody id="conversionTable">
        <tr>
            <td>Kilogram</td>
            <td id="kilogramValue"></td>
        </tr>
        <tr>
            <td>Gram</td>
            <td id="gramValue"></td>
        </tr>
        <tr>
            <td>Metric Ton</td>
            <td id="metricTonValue"></td>
        </tr>
        <tr>
            <td>Long Ton</td>
            <td id="longTonValue"></td>
        </tr>
        <tr>
            <td>Short Ton</td>
            <td id="shortTonValue"></td>
        </tr>
        <tr>
            <td>Pound</td>
            <td id="poundValue"></td>
        </tr>
        <tr>
            <td>Ounce</td>
            <td id="ounceValue"></td>
        </tr>
        </tbody>
    </table>

</div>

<script>
    document.getElementById('unit').addEventListener("change", function() {
        document.getElementById('table1').style.display = "block";
    });


    document.getElementById('weightForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const response = await fetch('/convertWeight', {
            method: 'POST',
            body: formData
        });



        if (response.ok) {
            document.getElementById('table1').style.display = "block";
            const result = await response.json();
            console.log(JSON.stringify(result))
            document.getElementById('kilogramValue').innerText = result["Kilogram"];
            document.getElementById('gramValue').innerText = result["Gram"];
            document.getElementById('metricTonValue').innerText = result["Metric Ton"];
            document.getElementById('longTonValue').innerText = result["Long Ton"];
            document.getElementById('shortTonValue').innerText = result["Short Ton"];
            document.getElementById('poundValue').innerText = result["Pound"];
            document.getElementById('ounceValue').innerText = result["Ounce"];
        } else {
            document.getElementById('result').innerText = 'Error occurred while converting weight.';
        }
    });
</script>

<script>
    document.getElementById('unit').addEventListener("change", function() {
        document.getElementById('table1').style.display = "block";
    });


    document.getElementById('weightForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const response = await fetch('/convertWeight', {
            method: 'POST',
            body: formData
        });



        if (response.ok) {
            document.getElementById('table1').style.display = "block";
            const result = await response.json();
            console.log(JSON.stringify(result))
            document.getElementById('kilogramValue').innerText = result["Kilogram"];
            document.getElementById('gramValue').innerText = result["Gram"];
            document.getElementById('metricTonValue').innerText = result["Metric Ton"];
            document.getElementById('longTonValue').innerText = result["Long Ton"];
            document.getElementById('shortTonValue').innerText = result["Short Ton"];
            document.getElementById('poundValue').innerText = result["Pound"];
            document.getElementById('ounceValue').innerText = result["Ounce"];
        } else {
            document.getElementById('result').innerText = 'Error occurred while converting weight.';
        }
    });
</script>

<script>
    document.getElementById('unit').addEventListener("change", function() {
        document.getElementById('table2').style.display = "block";
    });

    document.getElementById('lengthForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const response = await fetch('/convertLength', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            document.getElementById('table2').style.display = "block";
            const result = await response.json();
            console.log(JSON.stringify(result));
            document.getElementById('metersValue').innerText = result["Meters"];
            document.getElementById('centimetersValue').innerText = result["Centimeters"];
            document.getElementById('millimetersValue').innerText = result["Millimeters"];
            document.getElementById('kilometersValue').innerText = result["Kilometers"];
            document.getElementById('feetValue').innerText = result["Feet"];
            document.getElementById('inchesValue').innerText = result["Inches"];
            document.getElementById('milesValue').innerText = result["Miles"];
        } else {
            document.getElementById('result').innerText = 'Error occurred while converting length.';
        }
    });
</script>

</body>
</html>
